<h1>Welcome to Agate</h1>

<h4>A node boilerplate to automate some functions like: routing, layouts and controller.</h4>

<p class="pt-4">
    The purpouse of this project is to automate some functionality like Rails do for Ruby.
</p>

<p>
    This is my first real project in Node after studying from some DOCs and Books, so be kind with me if I have wrote some BS.
</p>
