<header>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="/agate-solid.svg" width="30" height="30" class="d-inline-block align-top">
            <span class="pl-2">Agate</span>
        </a>
    </nav>
</header>
