<header>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <div class="col-md-12">
                <a class="navbar-brand" href="#">
                    <img src="/agate-solid.png" width="30" height="30" class="d-inline-block align-top">
                    <span class="pl-2">Agate</span>
                </a>
            </div>
        </div>
    </nav>
</header>
