<html lang="it" dir="ltr">
    <head>
        <% include ./partials/head %>
    </head>

    <body>
        <% include ./partials/header %>

        <section>
            <main>
                <%= main %>
            </main>
        </section>

        <% include ./partials/footer %>
    </body>
</html>
