<html lang="it" dir="ltr">
    <head>
        <title>Agate</title>
        <link rel="shortcut icon" href="agate-solid.png">

        <% include ./partials/head %>
    </head>

    <body>
        <% include ./partials/header %>

        <section class="container">
            <main class="col-md-12 pt-5">
                <%- main %>
            </main>
        </section>

        <% include ./partials/footer %>
    </body>
</html>
